.label {
    cursor: pointer;

    p{
        z-index: 1;
    }
    input{
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }

    input:checked ~ span {
        
        display: block;
        background-color: #0d6dfd4d;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
}